.filter {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
}

.filter > ul {
    display: none;
}

.filter__dropdown {
    align-self: flex-start;
}

.filter__dropdown > button svg {
    transform: translateY(0.15rem);
    margin-right: 0.5rem;
}

.filter__search {
    flex-grow: 1;
}

.filter__search input {
    width: 100%;
    max-width: 30rem;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 1rem;
}

.grid__item {
    box-shadow: inset 0 0 0 1px;
}

.grid__item__header {
    display: flex;
    align-items: center;
}

.grid__item__header h3 {
    margin: 0;
    flex-grow: 1;
}

@media (min-width: 750px) {
    .filter > ul {
        display: flex;
    }

    .filter__dropdown {
        display: none;
    }
}
